---
layout: layouts/category.njk
title: Latest
description: Tous les articles récents, toutes catégories confondues.
categoryLabel: Latest
categoryDesc: Tous les articles récents, toutes catégories confondues.
---
{% set articles = collections.articles %}
